.poster-card {
  width      : 125px;
  margin     : 10px;
  padding    : 10px;
  text-align : center;
}

.poster-card img {
  border : 20px solid black;
}

.movie-container img:hover {
  transform  : scale(1.05);
  transition : all .5s ease-in-out;
}

.content-card {
  display         : flex;
  flex-basis      : 1;
  flex-wrap       : wrap;
  justify-content : space-around;
}

.main-navlink {
  color      : black;
  text-align : center;
}
