
.movie-container{

}

.poster-card{
  width: 125px;
  padding: 10px;
  text-align: center;
  margin:10px;

}

.poster-card img{
  border: 20px solid black;
}

.movie-container img:hover {
  transform:scale(1.05);
  transition: all .5s ease-in-out;
}

.content-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 1;
}

.main-navlink{
  text-align: center;
  color: black;
}
