.submit-navlink {
  display : block;
  margin  : 20px;
  color   : black;
}

.submit-navlink:focus {
  border  : none;
  outline : none;
}

.search-input {
  width      : 200px;
  height     : 25px;
  margin-top : 12px;
  border     : solid 2px black;
}

.input-submit {
  display    : block;
  text-align : center;
}

.search-input:focus {
  outline : none;
}

.welcome-page {
  margin     : 5px;
  padding    : 5px;
  text-align : center;
}

.welcome-container {
  display         : flex;
  flex-basis      : 1;
  flex-direction  : row;
  flex-wrap       : wrap;
  justify-content : space-around;
  order           : 1;
}
