.submit-navlink{
color: black;
display: block;
margin: 20px;
}

.submit-navlink:focus{
  outline: none;
  border: none;
}
.search-input{
  width: 200px;
  height: 25px;
  border: solid 2px black;
  margin-top: 12px;
}

.input-submit{
  display: block;
  text-align: center;
}

.search-input:focus{
  outline: none;
}

.welcome-page {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.welcome-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  flex-basis: 1;
  justify-content: space-around;
  order: 1;
}
