/*@font-face{
  font-family: 'Archivo Black', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Archivo+Black');
}*/

.App {
  text-align: center;
  /*font-family: 'Volkhov', serif;*/
  font-family: 'Archivo Black', sans-serif;

  font-weight: bold;
}

body{
  background-color: #36413E;
  height: 100%;
  width: 100%;
}


.App-header {
  width: 100%;
  height: 99px;
  background-color: #85BDBF;
  color: #0B132B;
  display: flex;
  justify-content: center;
  align-items: center;
}
